.form-label
  display inline-block
  font-size 16px
  line-height 2.3
  color #212529

.form-text
  display block
  width 100%
  padding 8px 12px
  border 1px solid rgba(0, 0, 0, .15)
  border-radius 4px
  font-size 16px
  line-height 1.25
  color #495057
  background-color #fff
  background-image none
  background-clip padding-box
  transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
  &:focus
    border-color #80bdff
    background-color #fff
    color #495057
    outline 0
  &::placeholder
    color #868e96
    opacity 1

.form-select
  display block
  width 100%
  height calc(2.25em + 2px)
  padding 8px 12rem
  border 1px solid rgba(0, 0, 0, .15)
  border-radius .25rem
  background-color #fff
  background-image none
  background-clip padding-box
  font-size 16px
  line-height 1.25
  color #495057
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
