ul.portfolio-list
  each project in projects
    li.portfolio-list__item
      .portfolio-list__img-block
        img.portfolio-list__img(src=`${project.image}`)
      .portfolio-list__content
        a.portfolio-list__title(href=`${project.url}`)= project.title
        .portfolio-list__date= project.period
        .portfolio-list__description= project.description
        .portfolio-list__read-more Подробнее о проекте