.main-post
  .main-post__img-block
    img.main-post__img(src=`${lastMaterials[0].image}`)
  .main-post__titles-wrapper
    .main-post__titles-block
      a.main-post__title(href=`${lastMaterials[0].url}`)= lastMaterials[0].title
      .main-post__description= lastMaterials[0].description