extends ../layouts/main

block title
  | Страница топика

block content
  .topic-page
    .topic-page__header
      include header
    .topic-page__body
      include body
    .topic-page__footer
      include footer