extends ../../layouts/main

block title
  | Создание топика

block content
  .blog-page
    .blog-page__title
      .page-title-block
        .page-title-block__img-block
          img.page-title-block__img(src='/images/polygon-background-blog.png')
        .page-title-block__content
          .page-title-block__title Создание статьи
    .blog-page__content
      form.editor(action='/topic' method='POST')
        .editor__field
          label.editor__label(for='title') Заголовок
          input.editor__text(type='text' name='title' id='title')
        .editor__field
          label.editor__label(for='description') Описание
          input.editor__text(type='text' name='description' id='description')
        .editor__field
          label.editor__label(for='image') Картинка
          input.editor__text(type='text' name='image' id='image')
        .editor__field
          .editor__label Рубрика
          .editor__select-wrap
            select.editor__select(size='1' name='category')
              option.editor__option(value='Frontend') Frontend
              option.editor__option(value='Backend') Backend
        .editor__field
          label.editor__label(for='slug') Url заголовок
          input.editor__text(type='text' name='slug' id='slug')
        .editor__field
          .editor__label Тело статьи
          .editor__body
            .editor__body-item
              select.editor__select(size='1' name='body[0][type]')
                option.editor__option(value='text' selected) Текст
                option.editor__option(value='image') Картинка
                option.editor__option(value='gallery') Галерея
                option.editor__option(value='read_more') Читайте так же
                option.editor__option(value='code') Код
                option.editor__option(value='snippet') Сниппет
              textarea.editor__textarea(name='body[0][content]' rows='5')
        .editor__field
          .editor__label Тэги
          .editor__tags
            input.editor__tag(type='text' name='tags[0][title]')
        .editor__field
          .editor__label Читайте так же
          .editor__read-more
            input.editor__read-more(type='text' name='read_more[0][url]')
        button.editor__submit(type='submit') Отправить