{
  "extends": [
    "plugin:@next/next/core-web-vitals"
  ],
  "plugins": [
    "@next/next"
  ],
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": "./projects/admin-front/tsconfig.eslint.json",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
