{
  "extends": [
    "plugin:@next/next/core-web-vitals"
  ],
  "plugins": [
    "@next/next"
  ],
  "parserOptions": {
    "tsconfigRootDir": "./projects/admin-front",
    "project": "./tsconfig.eslint.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ignorePatterns": [
    ".next/"
  ],
  "rules": {
    "@next/next/no-html-link-for-pages": [2, "projects/admin-front/src/pages/"]
  }
}
