footer.footer
  .footer__left
    .copyright Copyright 2017 @ All Right Reserved
  .footer__center
    ul.socials
      li.socials__item f
      li.socials__item vk
      li.socials__item insta
      li.socials__item in
  .footer__menu
    ul.navigation-footer
      li.navigation-footer__item Меню 1
      li.navigation-footer__item Меню 2
      li.navigation-footer__item Меню 3