nav.navigation-head
  ul.navigation-head__items
    li.navigation-head__item
      a(href='/') Главная страница
    li.navigation-head__item
      a(href='/blog.html') Блог
    li.navigation-head__item
      a(href='/portfolio.html') Портфолио
    li.navigation-head__item
      a(href='/about.html') Обо мне