nav.navigation-head
  ul.navigation-head__items
    li.navigation-head__item
      a(href='#') Главная страница
    li.navigation-head__item
      a(href='#') Блог
    li.navigation-head__item
      a(href='#') Портфолио
    li.navigation-head__item
      a(href='#') Обо мне