nav.navigation-head
  ul.navigation-head__items
    li.navigation-head__item
      a(href='/') Главная страница
    li.navigation-head__item
      a(href='/blog') Блог
    li.navigation-head__item
      a(href='/portfolio') Портфолио
    li.navigation-head__item
      a(href='/about') Обо мне