extends ../layouts/main

block title
  | Главная страница

block content
  .home-page
    .home-page__main-post
      include main-post
    .home-page__last-posts
      include last-posts
    .home-page__about
      include about