extends //layouts/main

block title
  | Главная страница

block content
  .home-page
    .home-page__main-post
      include //home/main-post
    .home-page__last-posts
      include //home/last-posts
    .home-page__about
      include //home/about