ul.last-posts
  each topic, index in lastMaterials.topics
    if index !== 0
      li.last-posts__item
        .last-posts__img-block
          img.last-posts__img(src=`${topic.image}`)
        .last-posts__content
          .last-posts__header
            .last-posts__posted
              | Опубликовано
              date.last-posts__date= topic.published_at
          .last-posts__body
            .last-posts__title= topic.title
            .last-posts__description= topic.description
          .last-posts__footer
            | Тут тоже что-то будет