.main-post
  .main-post__img-block
    img.main-post__img(src=require('_images/main-post.jpg'))
  .main-post__titles-wrapper
    .main-post__titles-block
      .main-post__title Супер опупенский заголовок
      .main-post__description А тут будет описание для данного поста