footer.footer
  .footer__left
    .copyright Copyright 2017 @ All Right Reserved
  .footer__center
    ul.socials
      li.socials__item
        +render_svg('socials__icon _fb', 'fb')
      li.socials__item
        +render_svg('socials__icon _vk', 'vk')
      li.socials__item
        +render_svg('socials__icon _in', 'in')
      li.socials__item
        +render_svg('socials__icon _lk', 'lk')
  .footer__menu
    ul.navigation-footer
      li.navigation-footer__item Меню 1
      li.navigation-footer__item Меню 2
      li.navigation-footer__item Меню 3