extends ../../layouts/main

block title
  | Создание топика

block content
  .blog-page
    .blog-page__title
      .page-title-block
        .page-title-block__img-block
          img.page-title-block__img(src='/images/polygon-background-blog.png')
        .page-title-block__content
          .page-title-block__title Создание статьи
    .blog-page__content
      form.editor(action='/topic' method='POST')
        .editor__field
          label.form-label.form-label.editor__label(for='title') Заголовок
          input.form-text(type='text' name='title' id='title')
        .editor__field
          label.form-label.editor__label(for='description') Описание
          input.form-text(type='text' name='description' id='description')
        .editor__field
          label.form-label.editor__label(for='image') Картинка
          input.form-text(type='text' name='image' id='image')
        .editor__field
          .form-label.editor__label Рубрика
          .editor__select-wrap
            select.form-select(size='1' name='category')
              for category in categories
                option(value=category.title)= category.title
        .editor__field
          label.form-label.editor__label(for='slug') Url заголовок
          input.form-text(type='text' name='slug' id='slug')
        .editor__field
          .form-label.editor__label Тело статьи
          .editor__body
            .editor__body-item
              .editor__field
                .form-label.editor__label Тип вреза:
                - options = [{type: 'text', text: 'Текст'}, {type: 'image',text: 'Картинка'}, {type: 'gallery',text: 'Галерея'}, {type: 'read_more',text: 'Читайте так же'}, {type: 'code',text: 'Код'}, {type: 'snippet',text: 'Сниппет'}]
                select.form-select(size='1' name='body[0][type]')
                  for option in options
                    option.editor__option(value=option.type)=option.text
              textarea.form-text(name='body[0][content]' rows='5')
        .editor__field
          .form-label.editor__label Тэги
          .editor__right-fill
            .editor__body-inner-item
              .editor__field
                label.form-label.editor__label(for=`tags0-title`) Заголовок
                input.form-text(type='text' name=`tags[0][title]` id=`tags0-title`)
              .editor__field
                label.form-label.editor__label(for=`tags0-url`) Url
                input.form-text(type='text' name=`tags[0][url]` id=`tags0-url`)
        .editor__field
          .form-label.editor__label Читайте так же
          .editor__right-fill
            .editor__body-inner-item
              .editor__field
                label.form-label.editor__label(for=`read_more0-title`) Заголовок
                input.form-text(type='text' name=`read_more[0][title]` id=`read_more0-title`)
              .editor__field
                label.form-label.editor__label(for=`read_more0-image`) Картинка
                input.form-text(type='text' name=`read_more[0][image]` id=`read_more0-image`)
              .editor__field
                label.form-label.editor__label(for=`read_more0-category`) Рубрика
                input.form-text(type='text' name=`read_more[0][category]` id=`read_more0-category`)
              .editor__field
                label.form-label.editor__label(for=`read_more0-url`) Url
                input.form-text(type='text' name=`read_more[0][url]` id=`read_more0-url`)
        button.button._primary.editor__button(type='submit') Отправить