{
  "extends": [
    "artdanshin"
  ],
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "ignorePatterns": [
    "dist/",
    "docker/"
  ],
  "overrides": [
    {
      "files": ["*.spec.ts", "*.e2e-spec.ts"],
      "rules": {
        "import/no-extraneous-dependencies": [0]
      }
    }
  ]
}
