.header
  display flex
  justify-content space-between
  align-items center
  max-width $widthDesktopContentBlock
  width 100%
  height 64px
  padding 10px 20px
  margin 0 auto
  background-color white