{
  "extends": [
    "artdanshin",
    "plugin:@next/next/core-web-vitals"
  ],
  "plugins": [
    "@next/next"
  ],
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": "./tsconfig.eslint.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ignorePatterns": [
    ".next/",
    "src/specs/"
  ],
  "rules": {
    "@next/next/no-html-link-for-pages": [2, "./src/pages/"]
  }
}
