extends //layouts/main

block title
  | Портфолио

block content
  .portfolio-page
    .portfolio-page__title
      .page-title-block
        .page-title-block__img-block
          img.page-title-block__img(src=require('_images/polygon-background.png'))
        .page-title-block__content
          .page-title-block__title Портфолио
    .portfolio-page__content
      ul.portfolio-list
        li.portfolio-list__item
          .portfolio-list__img-block
            img.portfolio-list__img(src=require('_images/portfolio-item.gif'))
          .portfolio-list__content
            .portfolio-list__title Название
            .portfolio-list__date Период работы
            .portfolio-list__description Краткое описание проекта
            .portfolio-list__read-more Подробнее о проекте
        li.portfolio-list__item
          .portfolio-list__img-block
            img.portfolio-list__img(src=require('_images/portfolio-item.gif'))
          .portfolio-list__content
            .portfolio-list__title Название
            .portfolio-list__date Период работы
            .portfolio-list__description Краткое описание проекта
            .portfolio-list__read-more Подробнее о проекте