extends //layouts/main

block title
  | Портфолио

block content
  .portfolio-page
    .portfolio-page__title
      .page-title-block
        .page-title-block__img-block
          img.page-title-block__img(src=require('_images/polygon-background.png'))
        .page-title-block__content
          .page-title-block__title Портфолио
    .portfolio-page__content
      include //portfolio/list