.main-post__title
  position relative
  width 70%
  font-size 40px
  font-family $slab
  line-height 1
  color white
  text-transform uppercase
  &:after
    content ''
    position absolute
    bottom -9px
    left 0
    height 3px
    width 90%
    background-color $blueblack