extends ../layouts/main

block title
  | Блог

block content
  .blog-page
    .blog-page__title
      .page-title-block
        .page-title-block__img-block
          img.page-title-block__img(src='/images/polygon-background-blog.png')
        .page-title-block__content
          .page-title-block__title Блог
    .blog-page__content
      include list