$widthDesktopContentBlock = 1170px
$paddingDesktopContentBlock = 20px

$creamBackground = #f8faf5

$blueblack = #424242
$greyblack = #363839

$greyDate = #939596
$greyTitle = #525252
$greyText = #747474

$highOpacityBlack = rgba(0,0,0,.02)

$opensans = 'Open Sans', sans-serif
$slab = 'Roboto Slab', serif