// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 950px;
$breakpoint-xl: 1240px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == 'sm' {
    @media (max-width: $breakpoint-sm) { @content; }
  } @else if $breakpoint == 'md' {
    @media (max-width: $breakpoint-md) { @content; }
  } @else if $breakpoint == 'lg' {
    @media (max-width: $breakpoint-lg) { @content; }
  } @else if $breakpoint == 'xl' {
    @media (max-width: $breakpoint-xl) { @content; }
  }
}

@mixin layout-container {
  max-width: var(--layout-xl-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--layout-xl-padding);
}