:root {
  /* Layout width's */
  --layout-xl-width: 1240px;
  --layout-md-width: 1024px;
  --layout-sm-width: 640px;

  /* Layout padding's */
  --layout-xl-padding: 32px;
  --layout-sm-padding: 16px;

  /* Layout colors */
  --layout-dark-color: rgba(15, 15, 35, 0.95); 
}
