include ../mixins/common

doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="vieport" content="device-width")
    title
      block title
  body
    .g-wrapper
      .g-header
        include ../shared/header
      .g-content
        block content
      .g-footer
        include ../shared/footer